.main-header {
  box-shadow: #0000001f 0 3px 12px;
  padding: 0.5rem 0;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: $clr-white;

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-logo {
      h2 {
        font-size: 2.2rem;

        span {
          color: $clr-primary-6;
        }
      }
    }

    .nav-links {
      ul {
        display: flex;
        list-style: none;
        gap: 10px;

        li a {
          letter-spacing: 4px;
          color: $clr-grey-1;
          transition: color 0.4s ease-in;

          &:hover {
            color: $clr-primary-5;
          }
        }
      }
    }

    .nav-icons {
      ul {
        display: flex;
        list-style: none;
        gap: 15px;

        li {
          font-size: 1.2rem;

          &.facebook a {
            color: $facebook-clr;
          }

          &.twitter a {
            color: $twitter-clr;
          }

          &.instagram a {
            color: $instagram-clr;
          }
        }


      }
    }
  }
}