.tour-preview {
  .tour-card {
    // height: 100%;
    cursor: pointer;
    background-color: $clr-grey-10;
    box-shadow: #0000001f 0 3px 12px;
    transition: all 0.4s;
    border-radius: 10px;

    &:hover {
      scale: 1.05;
    }

    .img-date {
      position: relative;

      img {
        aspect-ratio: 16 /9;
      }

      .date {
        position: absolute;
        bottom: 13px;
        right: 10px;
        text-transform: capitalize;
        color: $clr-primary-1;
        background-color: $clr-primary-8;
        padding: 0.5rem;
      }
    }

    .content {
      padding: 1rem;

      h3 {
        color: $clr-grey-1;
        margin: 12px 0;
        letter-spacing: 4px;
      }

      p {
        line-height: 24px;
        color: $clr-grey-5;
        letter-spacing: 1px;
      }

      .detail {
        display: flex;
        justify-content: space-between;


        p {
          font-size: 1.2rem;
          color: $clr-primary-5;
        }
      }
    }
  }
}