// Colors
$clr-primary-1: #044e53;
$clr-primary-2: #0a6c75;
$clr-primary-3: #0e7c86;
$clr-primary-4: #149199;
/* primary/main color */
$clr-primary-5: #2caeba;
/* lighter shades of primary color */
$clr-primary-6: #37bcc8;
$clr-primary-7: #52d1da;
$clr-primary-8: #88ebf2;
$clr-primary-9: #bff8fd;
$clr-primary-10: #e0fcff;
/* darkest grey - used for headings */
$clr-grey-1: #102a42;
$clr-grey-2: #243a52;
$clr-grey-3: #324d67;
$clr-grey-4: #48647f;
/* grey used for paragraphs */
$clr-grey-5: #618098;
$clr-grey-6: #829ab0;
$clr-grey-7: #9eb2c7;
$clr-grey-8: #bcccdc;
$clr-grey-9: #dae2ec;
$clr-grey-10: #f1f5f8;
$clr-white: #fff;
$clr-black: #000;

// social icon clr
$facebook-clr: #1877F2;
$twitter-clr: #1DA1F2;
$instagram-clr: #d6249f;